body
{
    background:linear-gradient(to right,rgb(19, 151, 190),rgb(253, 17, 253));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 2px;
    border-radius: 10px;
    height: 870px;
    width: 1650px;
}
.Container2
{
    background-color:rgb(255, 255, 255);
    height: 430px;
    width: 950px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 150px;
    box-shadow: 0 0 10px black;
}
#Row
{
    margin-top: 2px;
    font-size:xx-large;
}
.Row1
{
    margin-left: 5px;
    display: flex;
    
}
.Row2
{
    margin-left: 5px;
    display: flex;
}
.Row3
{
    margin-left: 5px;
    display: flex;
}
input
{
    height: 30px;
    width: 250px;
    font-size:large;
    border-radius: 5px;
}
#One
{
    margin-left: 150px;
}
#Two
{
    margin-left: 150px;
}
#Three
{
    margin-left: 150px;
}
#Photo
{
    border-radius: 10px;
    border: 2px solid black;
    height: 200px;
    margin-top: -140px;
    margin-left: 50px;
    width: 200px;
}
#btn
{
    color: white;
    background-color: rgb(9, 122, 122);
    margin-top: -100px;
    margin-left: 750px;
    width: 150px;
}
::placeholder
{
    font-size: medium;
}
button
{
    height: 35px;
    width: 900px;
    margin-top: 20px;
    font-size:medium;
    margin-left: 20px;
    border-radius: 5px;
   background-color: rgb(252, 12, 72);
    color: white;
}
a
{
    color: white;
    text-decoration: none;
    font-size:large;
}
@media all and (max-width:1129px)
{
   .Container2
    {
        margin-left: 100px;
        width:1000px;
    }
}
@media all and (max-width:417px)
{
   .Container2
    {
        margin-left: 2px;
        margin-top: 10px;
        width:1000px;
    }
}