body
{
    background:linear-gradient(to right,rgb(142, 49, 204),rgb(230, 6, 200));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    margin:0;
    border-radius: 10px;
    height: 100vh;
    width: 1650px;
}
#Container
{
    margin-top: 30px;
    margin-left: 200px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
    font-size: xx-large;
}
h1
{
    color: yellow;
    margin-left: 450PX;
    margin-top: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
    font-size: xx-large;
}
.Container2
{
    background-color:rgb(255, 255, 255);
    height: 600px;
    width: 1100px;
    display: flex;
    padding: 20px;
    border-radius: 50px;
    margin-left: 250px;
    margin-top: 25px;
    justify-content:space-between;
    justify-items:center;
    box-shadow: 0 0 10px black;
}
.box1
{
    background-color: aqua;
    background-image: url("Student.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 400px;
    width: 700px;
    margin-top: 110px;
}
.box2
{
    margin-left: 750px;
    margin-top:10px;
    border-radius: 10px;
    height: 300px;
    width: 300px;

}
img
{
    height: 100px;
    width: 100px;
    border-radius: 200%;
    margin-left: 75px;
}
input
{
    height: 35px;
    width: 220px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid rgb(238, 0, 0);
    box-shadow: 0 0 10px rgb(235, 0, 0);
    font-size: large;
}
::placeholder
{
    color: rgb(0, 0, 0);
    font-size: medium;
}
#Two
{
    margin-top: 10px;
}
button
{
    background:linear-gradient(to right,rgb(65, 68, 219),rgb(230, 4, 109));
    color: white;
    font-size: large;
    border-radius: 10px;
    margin-left: 22px;
    margin-top: 30px;
    border: none;
    height: 35px;
    width: 220px;
}
b
{
    color: rgb(3, 3, 3);
}
#R
{
    margin-top: 20px;
    margin-left: 45px;
    font-size: medium;
}
@media all and (max-width:1129px)
{
    #Container
    {
        text-align: center;
    }
    h1
    {
        margin-left: 400px;
    }
   .Container2
    {
        margin-left: 200px;
        width:1040px;
    }
}
@media all and (max-width:800px)
{
    #Container
    {
        text-align: center;
    }
    h1
    {
        margin-left: 300px;
        margin-left: 260px;
    }
   .Container2
    {
        margin-left: 100px;
        width:1040px;
    }
}
@media all and (max-width:417px)
{
    #Container
    {
        text-align: center;
    }
    h1
    {
        margin-left: 500px;
    }
   .Container2
    {
        margin-left: 2px;
        width:1030px;
    }
}

